<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="../style/index.css" rel="stylesheet">
</head>
<body>
  <h1 class="tituloP">Bem vindo ao meu Portfolio</h1>
  
 
  <div class="kvinzinn-img">
    <img src="../img/kvinzinn.jpg" alt="Kvinzinn">
  </div>


  <div class="box-container">
    <div class="box">
      <h3><a href="../templates/contato.html" target="_blank">CONTATO</a></h3> 
      <i class="fa-solid fa-phone"></i>
    </div>

    <div class="box">
      <h3><a href="../templates/habilidades.html" target="_blank">HABILIDADE</a></h3> 
      <i class="fa-solid fa-ghost"></i>
    </div>

    <div class="box">
      <h3><a href="../templates/sobre.html" target="_blank">SOBRE</a></h3> 
      <i class="fa-solid fa-user"></i>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Kvinzinn. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
